
:root {
    --primaryBackground: #B8B8B8;
    --secondaryBackground: #0C5E5E;
    --primaryColor: #20A082;
    --greyDark: #2464D9;
    --headingColor: #061727;
    --white: #57DEDE;
    --black: #7D9BF5;
    --sliver: #7BE8B7;
    --color1:#8BC0FC;
    --color2:#C5D4EB;
    --color3:#7191BD;
    --color4:#88AEE3;
    --color5:#81A4D6;
    --color6:#344257;
    --color7:#5A7396;
    --color8:#F6F3F1;
  
  }